In [2]:
import pandas as pd

df = pd.read_csv(r"C:\Users\kedei\OneDrive\Documents\Packt\Becoming a Data Analyst\Chapter 9\employee_data (1).csv")

In [3]:
# Descriptive Statistics

# 1. Average, median, and range of salaries for each department
df.groupby('Department')['Salary'].agg(['mean', 'median', 'min', 'max']).assign(Range=lambda x: x['max'] - x['min'])

                    mean   median    min     max   Range
Department
Finance     92390.420635  97169.0  30432  148800  118368
HR          88539.536364  86967.5  31435  149049  117614
IT          90646.800000  84137.0  30370  149357  118987
Sales       87534.525180  87556.0  31344  146591  115247

In [4]:
# 2. Average years of experience for each performance score category
df.groupby('PerformanceScore')['Experience'].mean()

PerformanceScore
1    18.917431
2    20.626168
3    21.510000
4    16.408602
5    20.516484
Name: Experience, dtype: float64

In [14]:
from scipy.stats import ttest_ind

# T-tests

# 3. Difference in the average salary between male and female employees
male_salary = df[df['Gender'] == 0]['Salary']
female_salary = df[df['Gender'] == 1]['Salary']
ttest_ind(male_salary, female_salary)

Ttest_indResult(statistic=0.5765101901266028, pvalue=0.5645308574581411)

In [15]:
# 4. Difference in the average years of experience between employees in the Sales department and the IT department
sales_experience = df[df['Department'] == 'Sales']['Experience']
it_experience = df[df['Department'] == 'IT']['Experience']
ttest_ind(sales_experience, it_experience)

Ttest_indResult(statistic=1.1165192455147446, pvalue=0.2652228402907158)

In [16]:
from scipy.stats import chi2_contingency

# Chi-Square Tests

# 5. Association between gender and department
gender_department_crosstab = pd.crosstab(df['Gender'], df['Department'])
chi2_contingency(gender_department_crosstab)

(0.9524777985073645,
 0.8127487218092746,
 3,
 array([[58.716, 51.26 , 58.25 , 64.774],
        [67.284, 58.74 , 66.75 , 74.226]]))

In [17]:
# 6. Association between department and performance score
department_performance_crosstab = pd.crosstab(df['Department'], df['PerformanceScore'])
chi2_contingency(department_performance_crosstab)

(10.970002050110137,
 0.5314912586403209,
 12,
 array([[27.468, 26.964, 25.2  , 23.436, 22.932],
        [23.98 , 23.54 , 22.   , 20.46 , 20.02 ],
        [27.25 , 26.75 , 25.   , 23.25 , 22.75 ],
        [30.302, 29.746, 27.8  , 25.854, 25.298]]))

In [18]:
from scipy.stats import f_oneway

# ANOVA Tests

# 7. Difference in the average salary among the different departments
finance_salary = df[df['Department'] == 'Finance']['Salary']
hr_salary = df[df['Department'] == 'HR']['Salary']
it_salary = df[df['Department'] == 'IT']['Salary']
sales_salary = df[df['Department'] == 'Sales']['Salary']
f_oneway(finance_salary, hr_salary, it_salary, sales_salary)

F_onewayResult(statistic=0.49065755609772443, pvalue=0.6889162363930773)

In [10]:
from scipy.stats import f_oneway

# ANOVA

# 8. Difference in the average salary among the different departments
finance_salary = df[df['Department'] == 'Finance']['Salary']
hr_salary = df[df['Department'] == 'HR']['Salary']
it_salary = df[df['Department'] == 'IT']['Salary']
sales_salary = df[df['Department'] == 'Sales']['Salary']
f_oneway(finance_salary, hr_salary, it_salary, sales_salary)

F_onewayResult(statistic=0.49065755609772443, pvalue=0.6889162363930773)

In [19]:
# 8. Difference in the average years of experience among the different performance score categories
score1_experience = df[df['PerformanceScore'] == 1]['Experience']
score2_experience = df[df['PerformanceScore'] == 2]['Experience']
score3_experience = df[df['PerformanceScore'] == 3]['Experience']
score4_experience = df[df['PerformanceScore'] == 4]['Experience']
score5_experience = df[df['PerformanceScore'] == 5]['Experience']
f_oneway(score1_experience, score2_experience, score3_experience, score4_experience, score5_experience)

F_onewayResult(statistic=2.8176007175486597, pvalue=0.024755566806042253)

In [12]:
# Correlation between years of experience and salary
df[['Experience', 'Salary']].corr()

            Experience    Salary
Experience    1.000000  0.024478
Salary        0.024478  1.000000